DB_URL=jdbc:postgresql://localhost:5433/meubanco
DB_USERNAME=usuario_do_banco
DB_PASSWORD=senha_do_banco
DB_DRIVER=org.postgresql.Driver

JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

FLYWAY_ENABLED=false
FLYWAY_LOCATIONS=classpath:db/migration

JWT_SECRET=sua_chave_secreta_jwt_com_no_minimo_32_caracteres
JWT_EXPIRATION=86400000

SERVER_PORT=8090